@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|Source+Sans+Pro:300,400,600,700");

:root {
  --font-heading: "PT Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  color: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.5;
  font-size: 1.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 700;
}

/* Common */
.container {
  width: 1200px;
  margin: 0 auto;
}

/* .top-page */
.top-page {
  min-height: 496px;
  background: url(../img/banner-tp.jpg) no-repeat center / cover;
  display: flex;
  position: relative;
}

.top-page::after {
  content: "";
  background-color: black;
  inset: 0;
  position: absolute;
  opacity: 0.6;
  z-index: 1;
}
.top-page .inner {
  display: flex;
  position: relative;
  height: 100%;
  flex-direction: column;
  z-index: 999;
}

.header {
  padding-top: 40px;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  position: scroll;
  align-items: center;
}

.header .logo {
  height: 33px;
  padding: 0 10px;
}

.header .nav {
  display: flex;
}

.header .nav .nav-title {
  font-family: var(--font-heading);
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  padding: 14px 25px;
}

.user-actions {
  display: flex;
  position: relative;
  align-items: center;
}

.user-actions .action-btn,
.search-btn .search-parent {
  padding: 14px;
  color: #fff;
  cursor: pointer;
}
.user-actions .action-btn .search-btn {
  position: relative;
  z-index: 1;
}
.search-btn .search-form {
  display: flex;
  position: absolute;
  right: -5px;
  top: 45px;
  height: 55px;
  width: 280px;
  padding: 5px;
  font-size: 1.5rem;
  z-index: 1;
  display: none;
}
.search-btn > .checkbox-search {
  display: none;
}
.search-btn > .checkbox-search:checked ~ .search-form {
  display: block;
}

.search-btn .search-form > button {
  position: absolute;
  background-color: #b80257;
  line-height: 1.5;
  width: 48px;
  height: 48px;
  text-align: center;
  top: 4px;
  right: 5px;
  z-index: 2;
  display: block;
}
.search-btn .search-form > input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border: 1px solid #ececec;
  padding: 0 49px 0 10px;
  outline: 5px solid #fff;
}
.search-btn .search-form > button > .search-child {
  color: #fff;
  font-size: 1.4rem;
}
.hero {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.hero .breadcrumbs {
  display: flex;
  margin-top: 10px;
}

.hero h1 {
  font-size: 3.2rem;
  text-transform: uppercase;
}

.hero a {
  font-size: 1.5rem;
}

.breadcrumbs li {
  display: flex;
}
.breadcrumbs li + li::before {
  content: "/";
  padding: 0 5px;
}

.breadcrumbs a:hover {
  color: #783df0;
}
.nav li {
  height: 100%;
}
.nav li .sub-menu {
  transition: all 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  background-color: #fff;
  min-height: 100px;
  margin-top: 15px;
  min-width: 215px;
  transform: scale(1, 0);
  transform-origin: 0% 2%;
}

.nav li:hover .sub-menu {
  opacity: 1;
  transform: scale(1);
}
.nav .sub-menu a {
  cursor: pointer;
  display: block;
  padding: 15px 25px;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.nav .sub-menu a:hover {
  background-color: #b80257;
  color: #fff;
}

.nav .sub-menu a span {
  transition: all 0.3s ease-in-out;
  display: block;
}
.nav .sub-menu a:hover span {
  translate: 4px;
}

/* body page */
.body-page {
  margin: 110px 0;
  /* height: auto; */
}

.sidebar {
  width: 300px;
  padding: 0 15px;
}

.sidebar-list + .sidebar-list {
  margin-top: 25px;
}
.sidebar-search-box {
  margin-bottom: 30px;
  position: relative;
}

.sidebar-search-icon {
  position: absolute;
  right: 24px;
  top: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.sidebar-seach-input {
  width: 100%;
  padding: 0 40px 0 20px;
  height: 44px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  outline: none;
  border-radius: 999px;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.course-list {
  border: 1px solid rgba(0, 0, 0, 0.09);
}
.course-list a {
  display: block;
  font-size: 1.5rem;
  padding-left: 25px;
  color: rgba(0, 0, 0, 0.7);
  line-height: 4rem;
  transition: all 0.3s ease-in-out;
}

.course-list li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.course-list a:hover {
  padding-left: 35px;
  color: #783df0;
}

.body-page .inner {
  display: flex;
}
.body-page .inner .content {
  width: 900px;
}
.course-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.course-menu li {
  margin: 0 15px;
}

.course-menu a {
  display: inline-block;
  padding: 0 14px;
  line-height: 2;
  font-size: 1.5rem;
}

.course-menu li:not(:first-child) a {
  transition: all 0.3s ease-in-out;
}

.course-menu li:not(:first-child) a:hover,
.course-menu li:first-child a {
  background: #783df0;
  border-radius: 999px;
  color: #fff;
}

.main-content {
  display: flex;
  width: 100%;
  /* min-height: 100%; */
  background-color: white;
  flex-wrap: wrap;
  gap: 30px;
  /* overflow: hidden; */
}
.single-course {
  width: 280px;
  min-height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  background-color: #fff;
  height: fit-content;
}
.single-course .image {
  overflow: hidden;
  width: 100%;
  position: relative;
  transition: all 0.5s ease;
}

.no2 .image::before,
.no5 .image::before,
.no8 .image::before {
  content: "";
  width: 140px;
  height: 109px;
  background-color: #b80257;
  z-index: 2;
  position: absolute;
  rotate: 35deg;
  top: -74px;
  right: -60px;
}

.no2 .image i,
.no5 .image i,
.no8 .image i {
  display: inline-block;
  position: absolute;
  z-index: 15;
  color: #fff;
  top: 10px;
  right: 15px;
  rotate: 35deg;
}
.single-course .image img {
  object-fit: cover;
  width: 100%;
  height: 217px;
  transition: all 0.5s ease;
}

.single-course:hover .image img {
  scale: 1.1;
}

.single-course .text {
  padding: 15px 20px;
}

.single-course .text h2 {
  font-size: 1.8rem;
  width: 100%;
  line-height: 1.5;
}

.single-course:hover .text h2 {
  color: #b80257;
}

.single-course .text p,
.footer .inner p {
  margin: 20px 0;
  font-size: 1.5rem;
}
.single-course .clearfix {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-course .clearfix li:nth-child(1) {
  display: flex;
  align-items: center;
}

.single-course .clearfix li:nth-child(1) img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.single-course .clearfix li:nth-child(2) {
  display: flex;
  align-items: center;
}
.single-course .clearfix li:nth-child(2) img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.single-course .clearfix li > span {
  font-size: 1.5rem;
}

.single-course .clearfix li:nth-child(3) {
  width: 66px;
  height: 33px;
  display: flex;
  justify-content: center;
  border: 1 solid rgba(0, 0, 0, 0.05);
  border-radius: 999px;
  cursor: pointer;
}

.single-course .clearfix li:nth-child(3) a {
  display: flex;
  align-self: center;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.no1 .clearfix li:nth-child(3),
.no4 .clearfix li:nth-child(3),
.no7 .clearfix li:nth-child(3) {
  background-color: #783df0;
}

.no1 .clearfix li:nth-child(3) a,
.no4 .clearfix li:nth-child(3) a,
.no7 .clearfix li:nth-child(3) a {
  font-weight: 400;
}

.no2 .clearfix li:nth-child(3),
.no3 .clearfix li:nth-child(3),
.no5 .clearfix li:nth-child(3),
.no6 .clearfix li:nth-child(3),
.no8 .clearfix li:nth-child(3),
.no9 .clearfix li:nth-child(3) {
  background-color: #b80257;
}

.no2 .clearfix li:nth-child(3) a,
.no3 .clearfix li:nth-child(3) a,
.no5 .clearfix li:nth-child(3) a,
.no6 .clearfix li:nth-child(3) a,
.no8 .clearfix li:nth-child(3) a,
.no9 .clearfix li:nth-child(3) a {
  font-weight: 700;
}

.clearfix li:nth-child(3):hover::before {
  content: "";
  width: 100%;
  inset: 0;
  position: absolute;
  z-index: -1;
  top: 110%;
  left: 0;
  height: 10px;
  right: 5%;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
}

.clearfix li:nth-child(3) {
  transition: all 0.5s ease-in-out;
}
.clearfix li:nth-child(3):hover {
  transform: translateY(-6px);
}

.course-pagination {
  display: flex;
  padding-top: 25px;
}

.course-pagination li {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 1.7;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.2);
  font-weight: 600;
  margin-right: 10px;
}
.course-pagination li:nth-child(1),
.course-pagination li:nth-child(2):hover,
.course-pagination li:nth-child(3):hover {
  border-color: #783df0;
  color: #783df0;
}

.course-pagination li:not(:last-child) {
  width: 28px;
}

.course-pagination li:last-child {
  background-color: #783df0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  width: 58px;
  margin: 0 10px;
}
/* .footer */
.footer {
  padding: 80px 0 160px;
  background: #151515;
  color: rgba(255, 255, 255, 0.6);
}

.footer .inner {
  display: flex;
  justify-content: space-between;
}

.footer .inner .footer-logo {
  width: 300px;
  padding: 0 10px;
}

.download {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer .footer-list li {
  line-height: 1.5;
}
.footer .footer-list h3,
.footer .subscribe h3 {
  padding-top: 10px;
  font-size: 2rem;
  color: #fff;
}

.footer .footer-list a:hover {
  color: #b80257;
}

.footer .subscribe {
  padding: 0 10px;
  width: 300px;
}

.footer .subscribe .mail {
  display: flex;
  flex-direction: column;
}

.subscribe .mail input {
  outline: none;
  padding: 0 20px;
  height: 44px;
  border-radius: 999px;
  margin: 10px 0;
  background: #272727;
  border: #fff;
  color: #fff;
}

.subscribe .mail button {
  background: #b80257;
  text-transform: uppercase;
  height: 40px;
  width: 95px;
  border-radius: 999px;
  font-weight: 400;
  color: #fff;
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
}
.subscribe .mail button::after {
  content: "";
  border-radius: inherit;
  position: absolute;
  inset: 0;
  scale: 0;
  background-color: #fff;
  transition: all 0.5s ease;
}
.subscribe .mail button:hover::after {
  scale: 1;
}

.subscribe .mail button:hover span {
  color: #b80257;
  z-index: 2;
  position: relative;
}

.footer .scroll {
  background-color: #b80257;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 4px;
  right: 4px;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .arrow {
  width: 12px;
  height: 12px;
  border: 2px solid;
  rotate: 45deg;
  border-color: #fff transparent transparent #fff;
  display: block;
  margin-top: 8px;
}
